<div class="container">
<h1 style="background-color:greenyellow;">Reactive Forms</h1>

<form [formGroup]="loginForm" (ngSubmit)="collectData()" style="background-color: yellow;">
<input type="text" name="username" formControlName="username" style="background-color: lightyellow;"><br><br>
<input type="password" name="password" formControlName="password" style="background-color: lightyellow;"><br><br>
<button type="submit" style="color: red; background-color: lightskyblue;">Login</button>
</form>
</div>